{% extends "pageLayout.html" %}

{% include "mapMacros.html" %}

{% block bodyClass %}{{ super() }} apos-map-index{% endblock %}

{% block subnav %}
    <ol class="children">
    {% for relative in page.children %}
      <li><a href="{{ relative.url }}">{{ relative.title | e }}</a></li>
    {% endfor %}
    </ol>
{% endblock %}

{% block main %}
  {{ renderGoogleMap(items) }}
{% endblock %}

{% block sidebar %}
  <ul>
    {{ renderMapLocations(items, page.url, 'classname') }}
  </ul>
{% endblock %}