<div class="apos-map-location-info-box apos-template">
  <div class="apos-location-image"><img alt="" data-image src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></div>
  <div class="apos-location-content">
    <h5 class="apos-location-type" data-loc-type>{{ __('General') }}</h5>
    <h2 class="apos-location-title" data-title>{{ __('Title') }}</h2>
    <p data-address></p>
    <p class="apos-infobox-description" data-descr></p>
    <p class="apos-infobox-hours" data-hours></p>
    <a class="apos-more-button" data-url href="#">{{ __('More Info') }}</a>
  </div>
</div>
