<div class="apos-map-location-info-box apos-template">
  <div class="apos-location-image"><img data-image src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></div>
  <div class="apos-location-content">
    <h5 class="apos-location-type" data-loc-type>General</h5>
    <h2 class="apos-location-title" data-title>Title</h2>
    <p data-address></p>
    <p class="drwc-infobox-description" data-descr></p>
    <p class="drwc-infobox-hours" data-hours></p>
    <a class="apos-more-button" data-url href="#">Learn More</a>
  </div>
</div>
