<div class="apos-modal apos-template apos-manage-map-location">
  <h3>{% block action %}Manage Locations{% endblock %}</h3>
  <div class="apos-modal-body">
    <p><a href="#" data-live>Live</a> | <a href="#" data-filter-name="trash" data-trash>Trash</a></p>
    <table data-items class="apos-manage-table">
      <tr>
        <th class="apos-manage-events-location">Location</th>
      </tr>
      <tr class="apos-template" data-item>
        <td>
          <span><a href="#" data-edit-map-location data-title>Sample Title</a></span>
        </td>
      </tr>
    </table>
  </div>
  <div class="apos-modal-footer">
    <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">Done</a>
  </div>
</div>



