{% macro renderMapLocations(items, pageUrl) %}
  {% if items %}
    {% for item in items %}
      {{ renderMapLocation(item, pageUrl) }}
    {% endfor %}
  {% else %}
    <h4>There are no map locations yet.</h4>
  {% endif %}
{% endmacro %}

{% macro renderMapLocation(item, pageUrl) %}
  <div class="apos-map-location">
    <div class="apos-map-location-heading">
      <h4><a href="{{ pageUrl }}/{{ item.publishedAt | date('YYYY/MM/DD') }}/{{ item.slug }}">{{ item.title | e }}</a></h4>
      <h6>{{ item.address }}</h6>
    </div>
  </div>
{% endmacro %}

{% macro renderGoogleMap(items) %}
  {# create an element for the map to load in #}
  <div id="map-canvas" style="width: 600px; height: 400px;"> </div>

  {# load in the google maps apis #}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4AeSmhph6FqLD7GKnjP5aQLiySYzmuQs&sensor=false"> </script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js" type="text/javascript"></script>  

  {# instantiate a new AposGoogleMap #}
  <script type="text/javascript">
    window.gmap = new AposGoogleMap( {{ items | json }} );
  </script>

{% endmacro %}