{% if edit %}

<ul class="apos-admin-bar-item apos-accordion-menu">
  <li class="apos-accordion-title"><i class="icon-globe"></i>Map</li>
  <li class="apos-accordion-items">
    <ul class="apos-page-bar">
      <li href="#" class="apos-control apos-accordion-item apos-button apos-new-button apos-new-snippet-button" data-new-map-location>New Location</li>
      <li href="#" class="apos-control apos-accordion-item apos-button apos-manage-button apos-manage-map-location-button" data-manage-map-location>Manage Locations</li>
      <li href="#" class="apos-control apos-accordion-item apos-button apos-import-button apos-import-map-location-button" data-import-map-location>Import Locations</li>
    </ul>
  </li>
</ul>

{% endif %}
