{% include "mapMacros.html" %}
<div class="apos-modal apos-template {% block class %}apos-new-map-location{% endblock %}">
  <h3>{% block label %}New Location{% endblock %}</h3>
  <div class="apos-modal-body">
    <form>
      {{ snippetText('title', 'Title') }}
      {# Override me in edit.html to add the slug field #}
      {% block slug %}{% endblock %}
      {{ snippetText('address', 'Address') }}
      {{ snippetText('tags', 'Tags') }}
      {# The real work for these is in main.js, just get placeholders into the form #}
      {{ snippetSingleton('thumbnail', 'Thumbnail') }}
      {{ snippetSelect('locType', 'Location Type', locTypes) }}
      {{ snippetText('hours', 'Hours') }}
      {{ snippetTextarea('descr', 'Description') }}
    </form>
  </div>
  {% block buttons %}
  {{ snippetNewButtons() }}
  {% endblock %}
</div>
