{% include "mapMacros.html" %}
<div class="apos-modal apos-template {% block class %}apos-new-map-location{% endblock %}">
  <h3>{% block label %}New Location{% endblock %}</h3>
  <div class="apos-modal-body">
    <form>
      {{ snippetText('title', 'Title') }}
      {# Override me in edit.html to add the slug field #}
      {% block slug %}{% endblock %}
      {{ snippetText('address', 'Address') }}
      {{ snippetSelect('locType', 'Location Type', locTypes) }}
      {{ snippetText('hours', 'Hours') }}
      {{ snippetTextarea('descr', 'Description') }}
    </form>
  </div>
  <div class="apos-modal-footer">
    <a href="#" data-action="save" class="apos-control apos-button apos-save">Save</a>
    <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">Cancel</a>
  </div>
</div>
