{% extends "layout.html" %}

{% include "mapMacros.html" %}

{% block bodyClass %}{{ super() }} apos-map-show{% endblock %}

{% block extraBreadcrumbs %}
  <li><a href="{{ page.url }}">{{ page.title | e }}</a></li>
  <li>&nbsp;/&nbsp;{{ item.title | e }}</li>
{% endblock %}

{% block mainContent %}
  <div class="apos-map-page-title"><h3><a href="{{ page.url }}">{{ page.title | e }}</a></h3></div>
  <div class="map-locations">
    {{ renderMapLocationWithDetails(item, page.url, 'map-location map-show-page') }}
  </div>
{% endblock %}